{% trans_default_domain 'FDPrivateMessageBundle' %}

{{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
        <input type="submit" value="{{ 'conversation.create.submit' | trans }}">
    </div>
{{ form_end(form) }}