<ul>
{% for conversation in conversations %}
    <li>
        <a href="{{ url('fdpm_show_conversation', {'conversation': conversation.id}) }}">{{ conversation.subject }}</a>
    </li>
{% else %}
    <li>
        You have no conversation yet.
    </li>
{% endfor %}
</ul>